<div class="text-center">
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span>{{project.ingredient_qty}}</span>
    <span>{{project.ingredient_unit}}</span> of
    <span>{{project.ingredient_name}}</span>
  </p>
  <p>{{instructions}}</p>
  <p>
    <button class="btn btn-primary">Post this Recipe!</button>
  </p>
</div>